.header_link_wrapper {
  background: #333333;
  color: white;
  height: 36px;
  @media (max-width: 1240px) {
    display: none;
  }
}

.upper_link_wrapper {
  display: flex;
  grid-gap: 69px;

  li {
    list-style: none;
    display: flex;
    align-items: center;
    opacity: .75;
    cursor: pointer;
    transition: .2s;

    a {
      color: #ffffff;
      text-decoration: none;
      font-family: Ubuntu, sans-serif;
      font-style: normal;
      font-weight: 200;
      font-size: 12px;
      line-height: 14px;
    }
  }

  li:hover {
    opacity: 1;
  }

  li:before {
    margin-right: 10px;
    line-height: 0px;
  }

  li.schedule:before {
    content: url("/svg/schedule.svg");
  }

  li.address:before {
    content: url("/svg/address.svg");
  }

  li.mail:before {
    content: url("/svg/mail.svg");
  }

  li.instagram:before {
    content: url("/svg/instagram.svg");
  }

  li.telegram:before {
    content: url("/svg/telegram.svg");
  }

  li.phone:before {
    content: url("/svg/phone.svg");
  }
}

.navbar_wrapper {
  display: flex;
  grid-gap: 50px;
  height: 48px;
  align-items: center;
  width: 100%;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    grid-gap: 0;
  }

  li {
    list-style: none;

    a {
      font-family: Ubuntu, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #181818;
      text-decoration: none;
    }
  }
}

