.window {
  display: flex;
  flex-direction: column;
  height: calc(var(--vh, 1vh) * 100);
}

footer {
  margin-top: auto;
}

section, header, footer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  flex-direction: column;

  .wrapper {
    width: 100%;
    border-bottom: 1px solid #EDEDED;
    @media  (max-width: 768px) {
      display: none;
    }


  }

  .container {
    max-width: 1652px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
}

section {
  margin-bottom: 80px;
  @media (max-width: 768px) {
    margin-bottom: 30px;
  }
}

section:first-of-type {
  margin-top: 30px;
  @media (max-width: 768px) {
    margin-bottom: 15px;
  }
}

section:last-of-type {
  margin-bottom: 50px;
  @media (max-width: 768px) {
    margin-bottom: 25px;
  }
}

.slider_wrapper {
  @media (max-width: 768px) {
    padding: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.carousel_wrapper {
  margin: 0 !important;
  padding: 0 !important;
}
.breadcrumbs_margins {
  margin-bottom: 40px;
  @media (max-width: 768px) {

  }
}